<IfModule mod_rewrite.c>
    # turn rewrite engine on
    RewriteEngine On
    
    # re-route the request to enable use of user friendly URL 
    RewriteRule ^(.*)$ index.php?name=$1 [QSA,L]
</IfModule>